@media all and (max-width:30em){


/*LAYOUT*/

div.app_layout{
padding:3em 0;
font-size:100%;
}



/*OVERLAYS*/

div.overlay_inner{
padding:2em 0;
}



/*MANIFEST LIST*/

li.manifest_item{
padding:1em;
}



/*DELIVERY FORM*/

div.delivery_item{
padding:1em;
}
div.item_text{
float:none;
clear:both;
margin:0 0 0.5em 0;
line-height:normal;
text-align:center;
}
div.item_quantity{
display:table;
margin:0 auto;
float:none;
clear:both;
text-align:center;
}
div.delivery_item:first-child span.picker_label,
div.item_picker span.picker_label{
display:block;
margin:0;
}
div.delivery_layout div.form_buttons{
margin:0;
}
div.button_layout button{
padding:0.75em 0;
}
div.button_layout button > span.fa{
display:block;
margin:0 0 0.25em 0;
}



}